# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
.eggs/

# Env
.env
.env.*
!.env.example

# Virtual envs
.venv/
venv/
env/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# Alembic
alembic/versions/*.pyc

# Misc
*.log
.DS_Store
